.card-div {
  margin: 10px 2px;
}

@media only screen and (max-width: 600px) {
  .your-spots-card {
    margin: 10px 5px;
  }
  .card-div {
    margin: 10px 5px;
  }
}
.spots-header {
  text-align: center;
}

.your-spots-card {
  margin: 20px 0px;
}

.edit-btn {
  margin: 10px;
  color: #878282;
  background-color: #1D5080;
  border: none;
}

.delete-btn {
  margin: 10px;
  background-color: #A31919;
  color: #878282;
  border: none;
}

.spot-card {
  margin: 10px
}
